<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>Infostretch Corporation India Pvt Ltd.
Hinjewadi, Pune – 411057.
Office: +91 20 67287800
.</p>

</body>
</html>